In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [2]:
df = pd.read_csv(r'SampleSuperstore.csv')
df.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574     0.156203    28.656896
std    32063.693350    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    56430.500000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

In [4]:
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [5]:
for i in df.select_dtypes(include='object').columns:
    print(f"Column: {i}")
    print(df[i].value_counts())
    print("-"*50)

Column: Ship Mode
Standard Class    5968
Second Class      1945
First Class       1538
Same Day           543
Name: Ship Mode, dtype: int64
--------------------------------------------------
Column: Segment
Consumer       5191
Corporate      3020
Home Office    1783
Name: Segment, dtype: int64
--------------------------------------------------
Column: Country
United States    9994
Name: Country, dtype: int64
--------------------------------------------------
Column: City
New York City      915
Los Angeles        747
Philadelphia       537
San Francisco      510
Seattle            428
                  ...
San Mateo            1
Conroe               1
Glenview             1
Rochester Hills      1
San Luis Obispo      1
Name: City, Length: 531, dtype: int64
--------------------------------------------------
Column: State
California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  184
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Oklahoma                  66
Missouri                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Utah                      53
Mississippi               53
Louisiana                 42
South Carolina            42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: State, dtype: int64
--------------------------------------------------
Column: Region
West       3203
East       2848
Central    2323
South      1620
Name: Region, dtype: int64
--------------------------------------------------
Column: Category
Office Supplies    6026
Furniture          2121
Technology         1847
Name: Category, dtype: int64
--------------------------------------------------
Column: Sub-Category
Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: Sub-Category, dtype: int64
--------------------------------------------------

From above output we observe that City, State, Sub-Category has huge value count

In [ ]:
for col in ['Ship Mode', 'Segment', 'Country', 'Region', 'Category']:
    sns.countplot(df[col])
    plt.show()

C:\ProgramData\Anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [ ]:
plt.figure(figsize=(15, 15))
sns.countplot(data=df, x='State')
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(10, 10))
sns.countplot(data=df, x='Sub-Category')
plt.xticks(rotation=90)
plt.show()

We observe that Country has all same values and postal code has no use in our dataset, so we can discard that value

In [ ]:
print(f"Initially: {df.shape}")
df = df.drop(['Country', 'Postal Code'], axis=1)
print(f"Later: {df.shape}")

In [ ]:
sns.pairplot(df)

In [ ]:
df['Sales'].plot.box()

In [ ]:
df['Quantity'].plot.box()

In [ ]:
df['Discount'].plot.box()

In [ ]:
df['Profit'].plot.box()

In [ ]:
sns.heatmap(df.corr(), annot=True)

In [ ]:
df.groupby('Category').sum().plot.bar()

In [ ]:
df.groupby('Category')[['Sales', 'Profit']].sum().plot.bar()

In [ ]:
df.groupby('Category')[['Quantity', 'Discount']].sum().plot.bar()

### Observation
1. Most of our customers belongs to Standard Class
2. Around 60% of customers are from Office Supplies category
3. Majority customers are Consumers
4. Customers from top 3 cities are California, New Yotk & Texas
5. Most products sold are Binders, Papers & Furnishing from Sub-Category
6. As compared to sales with profit on each Category, we observe that technology has least discount but had maximum sales and furniture has least profit.